body
{
    background: mediumpurple;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.mainbx
{
    box-sizing: border-box;
    width: 98vw;
    height: 98vh;
    padding-top: 7%;
}

.ctrbx
{
    box-sizing: border-box;
    height: 80%;
    width: 35%;
    margin: auto;
}


#demo{
    height: 25%;
    width: 25%;
    border: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    outline:none;
    margin-left: 35%;
    margin-top: 2%;
  }
  

.play
{
    background: url('play4.png') ;
    border-radius:50%;
    animation: animate 5s linear infinite;
    cursor:pointer;
}
    
.pause
{
    background: url('pause4.png') ;
    border-radius:50%;
    animation: animate 5s linear 1;
    cursor:pointer;
}

h1
{
    font-size: 45px;
    font-family: 'Antic Slab', serif;
    text-align: center;
    color: white;
}

h1 span
{
    font-size: 55px;
}

p
{
    color: white;
    padding: 5px;
    text-align: center;
    font-family: 'Crimson Text', serif;
}

.socmed
{
    box-sizing: border-box;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.socmed a img
{
    border-radius: 50%;
}
    
@media (max-width:768px) {
    body
    {
        width: 96vw;
        height: 98vh;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
    }

    .ctrbx
    {
        margin: auto;
        height: 100%;
        width: 100%;
        padding: 10%;
    }

    .mainbx
    {
        height: 90%;
        width: 90%;
        margin: auto;
    }
    #demo
    {
        width: 150px;
        height: 150px;
        margin-left: 25%;
    }

    h1
    {
        font-size: 33px;
        text-align: center;
        padding-left: 3%;
    }
    
    h1 span
    {
        font-size: 40px;
    }

    .socmed
    {
        width: inherit;
        display: flex;
        justify-content: center; 
    }

    p
    {
        font-size: 15px;
    }
}